body {
	background-color: #fff;
	color: #555;
}

header {
	background: none repeat scroll 0% 0% #EC6F66;
	overflow: hidden;
	text-align: center;
}


header h1 {
  border: 3px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: .4rem .6rem;
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

header p {
  color: rgba(255,255,255,0.7);
  margin: 0 auto;
}

section {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 4rem 0;
}


.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

.container2 {
  border-top: none;
  background: #ec6f66;
  color: #fff;
  
}